@charset "UTF-8";

body{
    background-color: rgb(70, 142, 236);
    font: normal 1.2em Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 30px 15px 15px 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
}

#form{
    display: flex;
    flex-direction: column;
}

.preencher{
    display: inline;
    margin-bottom: 20px;
}

input{
    width: 150px;
}

footer{
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none; 
    color: white;
}